.container {
  width: 600px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  align-items: center;
}
.header {
  padding: 40px;
  padding-bottom: 0px;
}

.three-section-div {
  display: flex;
  padding: 15px;
}

img {
  border-radius: 50%;
  text-align: center;
}

.sections {
  margin: 5px;
}
